<!doctype html>
<html lang="en" ng-app="augApp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="/javascript/augapp.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>GeoLocation Assignment</title>
  <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
        #main{
            text-align: center;
        }

      </style>
  </head>
 
  <body ng-controller="mainController">
    
      <div id="main">
        <form style="padding: 20px 20px; " ng-submit="fetch_coordinates()">
            <div class="form-group">
                <input style="width: 70%;margin: 5px auto;" class="form-control"  type="text" ng-model="first" placeholder="enter 1st address" required><br>
                <input style="width: 70%;margin: 5px auto;" class="form-control" type="text" ng-model="sec" placeholder="enter second address" required><br>
                <button class="btn btn-default" type="submit">Fetch coordinates</button>
            </div>
        </form>
         <div ng-if="coordinates1 && coordinates2" style="text-align: left;background-color: #d2e0f7;padding: 10px 20px;">
             <p> coordinates 1 :</p><h4> {{coordinates1}}</h4><br>
             <p> coordinates 2 :</p><h4> {{coordinates2}}</h4><br>
             <p>Pin Pointing for :</p><h4>[{{coordinates3.lat}},{{coordinates3.lng}}] :</h4> {{coordinates3.formatted_address}}
             <div style="width: 100%; min-height: 300px;border: 1px solid black; margin-top: 20px; padding: 10px 10px" id="map" class="google-map" lat="{{coordinates3.lat}}" long="{{coordinates3.lng}}"></div>
         </div>
      </div>
  </body>
</html>
